.container {
  background-color: rgb(28, 150, 218);
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 400;
  padding-left: 10%;
  padding-right: 10%;
  margin: 0 auto;
  width: 100%;
}

h1,
h2,
h3 {
  color: white;
  font-weight: 500;
}

.circle {
  background-color: white;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: inline-flex;
}

img {
  margin: auto;
  width: 50%;
  padding: 3px;
}

.row {
  display: flex;
}

.column-full {
  flex-basis: 100%;
  text-align: center;
}

.column-one-third {
  flex-basis: calc(100% / 3);
  text-align: center;
  font-size: medium;
  line-height: normal;
  font-weight: 200;
  margin-left: auto;
  margin-right: auto;
}
