.container {
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.first-page {
  border: 3px solid;
}

.circle {
  display: flex;
  justify-content: center;
}
